:root {
    --el-color-danger: #ff0000;
    --el-color-error: #ff0000;
    --el-color-info: #28bdf4;
    --el-color-primary: #7b6ff5;
    --el-color-success: green;
    --el-color-warning: #f7ff09;
}
